* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../img/sfondo.jpg");
    font-family: 'Nanum Gothic', sans-serif;

}

.container{
    height: 700px;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: start;
}

.col-sx{
    height: 700px;
    width: 40%;
    background-color: white;
}



.nav-sx {
    display: flex;
    background-color: #eaeaea;
}

.parte-sx {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    width: 60%;
}
 
.parte-dx {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    width: 50%;
    overflow-y: hidden;
}


li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

li, .icona {
    display: flex;
    align-items: center;      
    border-radius: 50%;
    width: 79%;
    padding-top: 3px;
    padding-left: 5px;
    margin-right: 12%;
    margin-bottom: 10px;
}

.icons-dx, i {
    font-size: 27px;
    padding: 5px;
    margin: 5px;
    color: #b1b1b1;
}

/* notifiche */

.notifiche {
    height: 100px;
    display: flex;
    align-items: center; 
    background-color: #8edafc;
}

.alert{
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
}

.title1 {
    display: flex;
    justify-content: start;
    font-weight: bold;
}

.sub-title1 {
    display: flex;
    color: grey;
    text-decoration: underline;
}

/* ricerca */

.cerca {
    display: flex;
    justify-content: start;
    height: 60px;
    width: 100%;
}

.button {
    background-color: white;
    cursor: pointer;
    padding: 1px;
    margin-left: 3px;
    margin-bottom: 10px;
    margin-right: 1px;
    border: none;
    vertical-align: top;
}

#search-icon {
    width: 50%;
}

#chat {
    color: lightgrey;
    width: 85%;
    height: 81%;
    border: none;
    background-color: whitesmoke;
}

/* end ricerca */

/* chat  */

.chat-report {
    overflow-y: scroll;
}

.mex {
    display: flex;
    justify-content: start;
    background-color: #f5f5f5;
    padding: 3px;
    margin: 1px;
    cursor: pointer;
}

.contact {
    display: flex;
    align-items: center;      
    border-radius: 50%;
    width: 18%;
    padding-top: 3px;
    padding-left: 5px;
    margin-bottom: 10px;
}

#logo {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    padding-top: 3px;
    padding-left: 5px;
    margin-bottom: 10px;
}


/* end chat */

/* parte dx */

.col-dx {
    width: 100%;
    height: 700px;

}

.mex-dx {
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    height: 98px;
    position: relative;
    justify-content: space-between;
}

#meme-mex {
    width: 70px;
    display: inline-block;
    margin-top: 15px;
}

.question {

    width: 500px;
    height: 50px;
    border-radius: 10px;
    background-color: teal;
}

.answer {

    width: 500px;
    height: 50px;
    border-radius: 10px;
    background-color: yellowgreen;
}

.sfondo-app {
    display: flex;
    justify-content: space-around;
    height: 502px;
    width: 100%;
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;

}

/* footer clonna destra */

.footer-dx {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    
}

#chat-footer{
    width: 80%;
    height: 70px;

}

.microphone {
    margin-right: 10px;
}

.smile{
    margin-left: 10px;
}