* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../img/sfondo.jpg");

}

.container{
    height: 700px;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    background-color: red;
}

.col-sx{
    height: 700px;
    width: 30%;
    background-color: #ffffff;
}

.head-sx{
    height: 10%;
    background-color: #eaeaea;
}