<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div id="app" class="container">
        <aside class="col-sx" >
            <header class="head-sx">
                <div class="nav-sx">
                    <ul class="parte-sx">
                        <li><img class="icona" src="img/avatar_8.jpg" alt="icons">Nome Utente</li>
                    </ul>
                    <ul class="parte-dx">
                        <li class="icons-dx"><a href="#cicle"><i class="fas fa-circle-notch"></i></a></li>
                        <li class="icons-dx"><a href="#cicle"><i class="fas fa-comment-alt"></i></a></li>
                        <li class="icons-dx"><a href="#cicle"><i class="fas fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>

            </header>
            
            <!-- spunta ricezione notifiche -->
            <div class="notifiche">
                <div class="alert"><i class="fas fa-bell-slash"></i></div>
                <div class="title1">
                    Ricevi notifiche di nuovi messaggi
                </div>
                <div class="sub-title1">
                    Attiva notifiche desktop
                </div>
    
            </div>
            <!-- end spunta di ricezione -->

            <!-- ricerca -->


            <div class="cerca">
                <button class="button"><i id="search-icon" class="fas fa-search"></i></button>
                <input @click="" type="text" name="Cerca o inserisci una chat" id="chat" placeholder="Cerca o inserisci una chat">
            </div>

            <!-- usare la direttiva v-for per eseguire il rendering di un elenco di elementi basato su un array, in questo caso contacts -->

            <div v-for="(contact, index) in contacts" class="contact" @click="setContactActive(index)">
                <img id="logo" class="messaggi" :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                <span class="title2"> 
                     {{contact.name}} 
                </span>
            </div>

            <!-- <div class="contacts">
                <div v-for="contact in contacts" class="contact">
                    <div class="contact-logo">
                        <img id="logo" :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                    </div>
                    <div class="contact-info">
                        <h3>
                            <span class="contact-name">
                                {{contact.name}}
                            </span>
                            <span class="time f-right"></span>
                        </h3>
                    </div>
                </div>
            </div> -->

            


            <!-- end ricerca -->

            <!-- icone sotto -->


            <!-- <div id="app" class="chat-report">
                <div class="mex">
                    <img class="messaggi" src="img/avatar_1.jpg" alt="">
                    <span class="title2">
                        Michele
                    </span>
                </div>
                <div class="mex">
                    <img class="messaggi" src="img/avatar_io.jpg" alt="">
                    <span class="title2">
                        Francesca
                    </span>
                </div>
                <div class="mex">
                    <img class="messaggi" src="img/avatar_2.jpg" alt="">
                    <span class="title2">
                        Domenico
                    </span>
                </div>
                <div class="mex">
                    <img class="messaggi" src="img/avatar_6.jpg" alt="">
                    <span class="title2">
                        Giulia
                    </span>
                </div>
            </div> -->
            

            <!-- end icone sotto -->  

        </aside>

        <!-- colonna di destra -->      

        <aside class="col-dx">
            <div class="mex-dx">
                <div class="logo">
                    <img id="meme-mex" class="messaggi" :src="'img/avatar' + contacts[contactActive].avatar + '.jpg'" alt="">

                    <span class="name">
                        {{contacts[contactActive].name}} 
                    </span>
                    
                </div>

                <span class="icone-dx">
                <a href="#search"><i class="fas fa-search"></i></a>
                <a href="#search"><i class="fas fa-paperclip"></i></a>
                <a href="#cicle"><i class="fas fa-ellipsis-v"></i></a>
                </span>

            </div>
            <div class="sfondo-app">
                <!-- il for va nei contatti attivi e prende tutta l'area dei messaggi uno alla volta lo butta nella variabile chiamata messages -->

                <!-- v-bind mette lo stato del messaggio quando è ricevuti in answer -->
               <div v-bind:class="{answer: message.status == 'received'}" class="question" v-for="message in contacts[contactActive].messages">
                   {{message.text}} 
                    <div class="stato">
                        {{message.status}}
                    </div>
                    <div class="data">
                        {{message.date}}
                    </div>
               </div>
               
            </div>
            <div class="footer-dx">
                   <a id="smile" href="#smile"><i class="far fa-smile"></i></a>
                   <input type="search" name="text" id="chat-footer" placeholder="scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage"> 
                   <a class="microphone" href="#microphone"><i class="fas fa-microphone"></i></a>
            </div>
        </aside>

        <!-- end colonna di destra  -->

    </div>

    <script src="js/script.js"></script>
</body>
</html>